@using METU.VRS.UI
@{
    var user = User.Identity.IsAuthenticated ? ((METUPrincipal)User).User : null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - METU VRS</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top hidden-xs">
        <div class="container ">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="//www.metu.edu.tr">METU</a></li>
                <li><a href="//ii.metu.edu.tr">Information Institute</a></li>
            </ul>
        </div>
    </nav>
    <header class="header-menu" id="logo-header">
        <div class="container">
            <div class="header-middle">
                <a href="/"><img src="~/Content/images/metu.svg" alt="METU Logo" /></a>
                <span class="department-name">Vehicle Registration System</span>
            </div>
        </div>
    </header>
    <div class="navbar metu-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("approval_user") || User.IsInRole("delivery_user"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator Menu <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("approval_user"))
                                    {
                                        <li><a href="@Url.Action("Index", "Approve")">Approve Applications <i class="fa fa-check-circle"></i></a></li>
                                    }else if (User.IsInRole("delivery_user"))
                                    {
                                        <li><a href="@Url.Action("Index", "Deliver")">Deliver Stickers <i class="fa fa-file-text-o"></i></a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@(user.Name)@@@(user.Division.UID) <i class="fa fa-user-o"></i> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Sticker")">My Stickers <i class="fa fa-list"></i></a></li>
                                <li><a href="@Url.Action("List", "Visitor")">My Visitors <i class="fa fa-ticket"></i></a></li>
                                <li role="separator" class="divider"></li>
                                @if (User.IsInRole("security_officer"))
                                {
                                    <li><a href="@Url.Action("ListVisitors", "Staff")">List Approved Visitors <i class="fa fa-check-circle"></i></a></li>
                                    <li role="separator" class="divider"></li>
                                }
                                <li><a href="@Url.Action("Logout", "Home")">Logout <i class="fa fa-sign-out"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="/"></a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Home")">Login <i class="fa fa-sign-in"></i></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content col-xs-offset-1 col-xs-10" style="padding-bottom:50px">
        @RenderBody()
        <hr />
        <footer class="navbar navbar-fixed-bottom navbar-default">
            <div class="col-xs-offset-1 col-sm-offset-0 center-block text-center">
                <p>Middle East Technical University - Universiteler Mahallesi, Dumlupinar Bulvari No:1, 06800 Cankaya/Ankara Turkey</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
