@model IEnumerable<METU.VRS.Models.StickerApplication>
@using METU.VRS.UI
@using METU.VRS.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string noMoreSticker = "It is impossible to apply for more sticker. Please invalidate current active stickers and try again";
}

@if (@Request.Params["ok"] != null)
{
    <div class="alert alert-success">Application is successfull</div>
}

@if (@Request.Params["paymentok"] != null)
{
    <div class="alert alert-success">Payment successful. Now please go to office for delivery.</div>
}

@if (@Request.Params["nomoresticker"] != null)
{
    <div class="alert alert-danger">@noMoreSticker</div>
}

@if (@Request.Params["vehicleAlreadyActive"] != null)
{
    <div class="alert alert-danger">Application failed, the plate number is already registered and has an active state</div>
}

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Make Your First Sticker Application</h3>
            <p>
                You can make a sticker application for your vehicle, and pay the fee online.
                Click apply below to proceed.
            </p>
            <p><a href="@Url.Action("Apply", "Sticker")" class="btn btn-default">Apply for Sticker&nbsp;<i class="fa fa-file-text-o"></i></a></p>
        </div>
    </div>
}
else
{
    <h4>Sticker Applications</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    @item.Status.ToDescription()
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Sticker", new { id = item.ID })" data-toggle="modal" data-target="#details" class="btn btn-primary">Detail&nbsp;<i class="fa fa-file-text-o"></i></a>&nbsp;
                    @if (item.Term != null && item.Term.IsExpired && item.Status != StickerApplicationStatus.Expired)
                    {
                        <a href="@Url.Action("Renew", "Sticker",new { id = item.ID })" class="btn btn-success">Renew&nbsp;<i class="fa fa-refresh"></i></a>
                    }
                    else if (item.Status == StickerApplicationStatus.WaitingForPayment)
                    {
                        <a href="@Url.Action("Index", "Pay", new { id = item.ID })" class="btn btn-success">Pay&nbsp;<i class="fa fa-credit-card-alt"></i></a>
                    }
                </td>
            </tr>
        }
    </table>
    if (((METUPrincipal)User).User.CanApplyForMore)
    {
        <p><a href="@Url.Action("Apply", "Sticker")" class="btn btn-default">Apply for an additional sticker&nbsp;<i class="fa fa-file-text-o"></i></a></p>
    }
    else
    {
        <p><a class="btn btn-default" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Error" data-content="@noMoreSticker">Apply for an additional sticker&nbsp;<i class="fa fa-file-text-o"></i></a></p>
    }

    <!-- Modal -->
    <div class="modal fade" id="details" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    @section scripts{
        <script>
            $('#details').on('shown.bs.modal', function () {
                $(this).scrollTop(0);
            });

            $('#details').on('hide.bs.modal', function () {
                $('#details').removeData('bs.modal');
            });

            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    }
}
